body {
  margin: 0;
  padding: 0;
  background: #fefaee url(/resources/images/banner.jpg) no-repeat center center;
  background-size: contain;
}

.full-link {
  display: block;
  width: 100vw;
  height: 100vh;
}
